[*.cs]

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = none
[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
