version: "3.9"
services:
  redis:
    image: redis:7
    container_name: redis1
    command: ["redis-server", "--requirepass", "helloworld12345678"]
    ports:
      - "6379:6379"
    volumes: 
      - cache:/data

volumes:
  cache:
    driver: local